
<dialog id="dlg-{{ cal_id }}" class="slot-form">
	<h2>Book a sesh</h2>
	<button type="button" class="button close">Close</button>
	{{ include('forms/form.html.twig', {form: forms('booking-request')}) }}
</dialog>

{% script at 'bottom' %}
const dialog = document.querySelector('#dlg-{{ cal_id }}');
const closeButton = dialog.querySelector('button.close');
if(closeButton) {
	closeButton.addEventListener("click", (e) => {
		e.preventDefault();
		dialog.close();
		});
}
{% endscript %}
