
<dialog id="dlg-{{ cal_id }}" style="border: none !important; border-radius: calc(5px * var(--ratio)); box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25); padding: 1.6rem; background-color: #825626; color: #dbd7cb;">
	<h2 style="margin: 2rem 0 1rem; font-weight: 800;">Book a sesh</h2>
	<button type="button" class="button close">Close</button>
	{{ include('forms/form.html.twig', {form: forms('booking-request')}) }}
</dialog>

{% script at 'bottom' %}
const dialog = document.querySelector('#dlg-{{ cal_id }}');
const closeButton = dialog.querySelector('button.close');
if(closeButton) {
	closeButton.addEventListener("click", (e) => {
		e.preventDefault();
		dialog.close();
		});
}
{% endscript %}
