{% set cal_id = unique_id(6) %}
<fuller-calendar id="fcl-{{ cal_id }}"></fuller-calendar>

{{ include('partials/booking-dialog.html.twig') }}

<div id="legend"></div>

{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/index.global.js' %}
{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.10/index.global.js' %}
{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.10/index.global.min.js' %}
{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.10/index.global.min.js' %}
{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.10/index.global.min.js' %}
{% script 'plugins://fullcalendar/assets/ical.js/build/ical.min.js' at 'bottom' %}

{% style 'theme://css/fullcalendar-custom.css' with {loading: 'inline'} %}

{% script at 'bottom' priority: 5 %}

Date.prototype.toYmdDate = function() {
	const year = new Intl.DateTimeFormat(undefined, { year: 'numeric' }).format(this);
	const month = new Intl.DateTimeFormat(undefined, { month: '2-digit' }).format(this);
	const day = new Intl.DateTimeFormat(undefined, { day: '2-digit' }).format(this);
	return `${year}-${month}-${day}`;
	};

class FullerCalendar extends HTMLElement {
	constructor() {
		super();

		this.attachShadow({
			mode: 'open',
			});

		const calendarEl = document.createElement('div');
		calendarEl.id = `${this.id}-rind`;
		this.shadowRoot.append(calendarEl);

		const sheet = new CSSStyleSheet();
		sheet.replaceSync(`
			#${calendarEl.id} {
				--fc-page-bg-color: initial;
			}
			{# this CSS rule requires the id selector to be more specific than the dumbass inline rule it's overriding #}
			#${calendarEl.id}.fc-direction-ltr .fc-timegrid-slot-label-frame {
				text-align: initial;
			}
			`);
		this.shadowRoot.adoptedStyleSheets.push(sheet);

		{{ include('partials/monthcalendar-properties.js.twig') }}

		const calendar = new FullCalendar.Calendar(calendarEl, calendarProperties);

		calendar.render();
		calendar.today();
	}
}

customElements.define('fuller-calendar', FullerCalendar);

{% endscript %}
