<demo-calendar id="calendar"></demo-calendar>
<div id="legend"></div>

{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/index.global.js' %}

{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.10/index.global.js' %}

{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.10/index.global.min.js' %}
{% script 'https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.10/index.global.min.js' %}

{% script 'plugins://fullcalendar/assets/ical.js/build/ical.min.js' at 'bottom' %}

{% script at 'bottom' %}

class FullerCalendar extends HTMLElement {
	constructor() {
		super();

		this.attachShadow({
			mode: 'open',
			});

		const calendarEl = document.createElement('div');
		calendarEl.id = this.id;
		this.shadowRoot.append(calendarEl);

		const sheet = new CSSStyleSheet();
		sheet.replaceSync(`
			#${calendarEl.id} {
				--fc-page-bg-color: initial;
			}
			`);
		this.shadowRoot.adoptedStyleSheets = [sheet];

		const calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: "timeGridWeek",
		height: 'auto',
		allDaySlot: false,
		slotMinTime: '07:00:00',
		nowIndicator: true,
		stickyHeaderDates: true,
		// footerToolbar: true,
		titleFormat: { month: 'short', day: 'numeric' },
		dayHeaderFormat: function(date) {
			const dt = date.date.marker;
			const dow = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']; // FIXME: hacky
			return dow[dt.getDay()] + ' ' + dt.getDate() + '/' + (dt.getMonth() + 1);
			},
		googleCalendarApiKey: '{{ config.plugins.fullcalendar.google_api_key }}',
		events: { {# TODO: conditionally include this and other ical properties/events #}
			googleCalendarId: '{{ gcal }}',
			},

		});


		calendar.render();

		setTimeout( () => {
			calendarEl.querySelectorAll('[style]').forEach((el) => {
				el.removeAttribute('style');
				});
		}, 2000);
		calendar.today();
	}
}

customElements.define('demo-calendar', FullerCalendar);

{% endscript %}
